.imageContainer {
  width: 150px;
  height: 130px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}