.imageContainer {
  width: 150px;
  height: 130px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.image {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

.isLoaded {
  animation-name: load;
  animation-duration: 300ms;
}

@keyframes load {
  0% {
    transform: scale(0.1);
  }

  65% {
    transform: scale(1.1);
  }

  100% {
    transoform: scale(1);
  }
}